.weather-app {
  padding: 20px;
  border: solid 1px black;
  border-radius: 20px;
  background: #82e7b7;
  font-family: "Poppins", sans-serif;
  color: black;
  margin-top: 10px;
}

.form-label {
  font-weight: bolder;
}

.form-control {
  border-radius: 50px;
}

.searchButton {
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #5e63b6;
  transition: 100ms;
}

.searchButton:hover {
  background: #e471a7;
}

.currentLocation {
  border-radius: 40px;
  margin: 10px;
  background: #e471a7;
  transition: 100ms;
}

.currentLocation:hover {
  background: #5e63b6;
}

.light-theme-button {
  margin-left: 1000px;
  margin-top: -80px;
  background: #82e7b7;
  border-radius: 40px;
}

.light-theme-button:hover {
  background: #82e7b7;
}

.dark-theme-button {
  margin-top: -80px;
  background: #303030;
  color: white;
  border-radius: 40px;
}

.dark-theme-button:hover {
  background: black;
  color: white;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.today {
  align-items: center;
  padding-left: 150px;
}

.weather-description {
  font-size: 20px;
  padding-right: 10px;
  text-align: center;
}
.weather-icon {
  width: 170px;
  padding: 10px;

  margin-left: 80px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.currentTemperature {
  font-size: 110px;
  margin: 15px;
  padding-left: 150px;
  padding-bottom: 30px;
  padding-top: 5px;
}

.weatherDetails {
  margin: 10px;
  padding-left: 30px;
  font-size: 25px;
  padding-top: 0px;
}

.weather {
  text-transform: capitalize;
}

.tempUnits {
  font-size: 20px;
  position: relative;
  top: -55px;
}

.celsius-link,
.fahrenheit-link {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  color: black;
  cursor: default;
}
.active {
  text-decoration: underline;
  font-weight: bold;
}

.active:hover {
  text-decoration: underline;
  cursor: default;
}

hr {
  height: 5px;
  margin-top: 5px;
}

.forecast {
  text-align: center;
  font-weight: bolder;
}
.smallWeatherIcons {
  width: 55px;
}

.open-source {
  font-size: 20px;
}
.open-source-link {
  color: blue;
}
