.weatherApp {
  padding: 20px;
  border: solid 1px black;
  border-radius: 20px;
  background: linear-gradient(
    113.5deg,
    rgb(234, 234, 234) 22.3%,
    rgb(201, 234, 211) 56.6%,
    rgb(255, 180, 189) 90.9%
  );
  font-family: "Poppins", sans-serif;
  color: black;
  margin-top: 10px;
}

.form-label {
  font-weight: bolder;
}

.form-control {
  border-radius: 50px;
}

.btn {
  border-radius: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.currentLocation {
  border-radius: 40px;
  margin: 10px;
}

.light-theme-button {
  margin-left: 1000px;
  margin-top: -80px;
  background: linear-gradient(
    113.5deg,
    rgb(234, 234, 234) 22.3%,
    rgb(201, 234, 211) 56.6%,
    rgb(255, 180, 189) 90.9%
  );
}

.light-theme {
  background: linear-gradient(
    113.5deg,
    rgb(234, 234, 234) 22.3%,
    rgb(201, 234, 211) 56.6%,
    rgb(255, 180, 189) 90.9%
  );
}

.dark-theme-button {
  margin-top: -80px;
  background: #303030;
  color: white;
}

h1 {
  text-align: center;
  font-size: 60px;
  padding-top: 5px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

.today {
  align-items: center;
  padding-left: 150px;
}

.weather-description {
  font-size: 20px;
  padding-right: 10px;
  text-align: center;
}
.weather-icon {
  width: 150px;
  padding: 10px;

  margin-left: 80px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.currentTemperature {
  font-size: 110px;
  margin: 15px;
  padding-left: 150px;
  padding-bottom: 30px;
  padding-top: 5px;
}

.weatherDetails {
  margin: 10px;
  padding-left: 30px;
  font-size: 25px;
  padding-top: 5px;
}

.tempUnits {
  font-size: 20px;
  position: relative;
  top: -55px;
}

.celsius-link,
.fahrenheit-link {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.celsius-link:hover,
.fahrenheit-link:hover {
  font-size: 25px;
  color: black;
}

hr {
  height: 5px;
}

.forecast {
  text-align: center;
  font-weight: bolder;
}
.smallWeatherIcons {
  width: 65px;
}

.open-source {
  font-size: 20px;
}
.open-source-link {
  color: blue;
}
